// /* By Athlon Front-End Team */

// /* Core variables */
// @import 'base/vars';

// /* CSS Reset */
// @import 'base/reset';

// /* CSS print */
// @import 'base/print';

// /* Fonts */
// @import 'base/fonts';

// /* Mixins, helpers and functions */
// @import 'base/mixins';

// /* Vendor */

// /* Components */

// /* Browser specific styles */
// @import 'dirty/hacks';

// /* Demo styles */

@import 'null';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap');

$purple: #5F62AC;

body {
  font-family: Roboto;
  font-size: 14px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0px auto;
}

.col {
  padding: 56px 168px;

  @media (max-width: 1199px) {
    padding: 56px 84px;
  }

  @media (max-width: 991px) {
    padding: 56px 42px;
  }

  @media (max-width: 767px) {
    padding: 48px 32px;
  }

  @media (max-width: 575px) {
    padding: 32px 24px;
  }
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;

  @media (max-width: 575px) {
    background-color: $purple;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 24px;
    border: 1px solid hsla(0, 0%, 100%, 0.3);
  }

  &__logo {
    @media (max-width: 575px) {
      width: 12px;
    }
  }

  &__nav {
    display: flex;

    & li {
      list-style-type: none;
      margin-left: 40px;

      @media (max-width: 689px) {
        margin-left: 20px;
      }

      @media (max-width: 575px) {
        margin-bottom: 16px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    @media (max-width: 575px) {
      display: block;
      position: absolute;
      top: 80px;
      left: -100%;
      background-color: #4A439D;
      width: 100%;
      padding: 32px 0;
      transition-duration: 0.5s;

      &.active {
        left: 0;
      }
    }
  }

  &__link {
    position: relative;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;

    &:after {
      content: "";
      display: block;
      margin-top: 31px;
      position: absolute;
      left: 0;
      width: 0px;
      height: 2px;
      background-color: transparent;
      transition-duration: 0.3s;
    }

    &:hover:after {
      width: 100%;
      background-color: #F0C630;
    }

    @media (max-width: 689px) {
      font-size: 14px;
    }

    @media (max-width: 575px) {
      font-size: 16px;
    }
  }

  &__burger {
    display: none;
    position: absolute;
    width: 32px;
    height: 32px;
    right: 24px;
    opacity: 1;
    background-color: $purple;
    background-image: url('../images/content/burger.svg');
    transition: background 0.5s ease;

    @media (max-width: 575px) {
      display: flex;
    }

    &.active {
      background: #F0C630;
      background-image: url('../images/content/burger_close.svg');
    }
  }
}

.intro {

  &__body {
    background-color: $purple;
    // height: 636px;
    // display: flex;
    // flex-direction: column;
    position: relative;
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 168px;
    transform: translateY(-50%);
    color: #FFFFFF;
    z-index: 40;

    @media (max-width: 991px) {
      left: 32px;
    }
  }

  &__title {
    font-weight: 300;
    font-size: 56px;
    line-height: 64px;
    max-width: 850px;

    @media (max-width: 991px) {
      font-size: 40px;
      line-height: 48px;
      max-width: 700px;
    }

    @media (max-width: 600px) {
      max-width: 100%;
    }

    @media (max-width: 575px) {
      font-size: 24px;
      line-height: 32px;
    }
  }

  &__subtitle {
    padding-top: 16px;
    font-size: 16px;
    line-height: 24px;
  }
}

.slider {
  padding-left: 32%;

  &__item {
    position: relative;
    overflow: hidden;
  }

  &__inner {

    @media (max-width: 991px) {
      height: 508px;
    }

    @media (max-width: 575px) {
      height: 319px;
      padding-left: 50%;
    }
  }

  @media (max-width: 575px) {
    text-align: center;
    padding: 0;
  }

  &__image
    {
         
      
  }

  & img {

    @media (max-width: 767px) {
      object-fit: cover;
      object-position: -200px 0px;
    }

    @media (max-width: 575px) {
      position: absolute;
      width: 100%;
      height: 100%;
      
      object-position: 65% 50px;
    }
  }
}

.slick-dots {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;

  & li {
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }
  }

  & button {
    margin: 7px 0;
    font-size: 0px;
    width: 12px;
    height: 12px;
    background: rgb(255, 255, 255);
    transition-duration: 0.2s;
    opacity: 0.3;
    margin: 48px 0;

    &:hover {
      background: #FFFFFF;
      opacity: 0.7;
    }

    @media (max-width: 575px) {
      margin: 25px 0;
    }
  }

  & .slick-active button {
    background: #ffffff;
    opacity: 1;
    width: 12px;
    height: 12px;
  }
}

.adv {

  &__body {}

  &__tabs {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
  }

  &__tab {
    border: 1px solid #E5E5E5;
    border-radius: 28px;
    margin-right: 16px;
    padding: 14px 24px;
    font-size: 20px;
    line-height: 28px;
    background: #E5E5E5;
    cursor: pointer;
    transition-duration: 0.3s;

    &.active {
      background: #fff;
      border: 1px solid #C4C4C4;
    }

    &:hover {
      border: 1px solid #F0C630;
    }

    @media (max-width: 575px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__points {
    margin-top: 33px;
    display: flex;
    flex-wrap: wrap;
  }

  &__points-item {
    width: 50%;

    @media (max-width: 991px) {
      width: 100%;

      &:last-child {
        margin-top: 24px;
      }
    }
  }

  &__point {
    display: flex;
    align-items: center;
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__point-pic {}

  &__point-text {
    font-size: 24px;
    line-height: 32px;
    margin-left: 24px;

    &.minus {
      color: #000000;
      opacity: 0.5;
    }

    @media (max-width: 575px) {
      font-size: 14px;
      line-height: 22px;
    }
  }
}

.sign {

  &__body {
    background-color: $purple;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 767px) {
      display: block;
    }
  }

  &__title {
    width: 49%;
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;

    @media (max-width: 767px) {
      width: 100%;
      font-size: 28px;
      line-height: 36px;
      margin-bottom: 24px;
    }

    @media (max-width: 575px) {
      font-size: 20px;
      line-height: 28px;
    }
  }

  &__button {
    display: block;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    border: 1px solid #000;
    padding: 14px 36px;
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 0.3s;

    &:hover {
      border: 1px solid #F0C630;
    }

    @media (max-width: 767px) {
      width: 265px;
      text-align: center;
    }

    @media (max-width: 575px) {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.location {

  &__body {
    @media (max-width: 767px) {
      padding: 56px 0;
    }

    @media (max-width: 575px) {
      padding: 32px 0;
    }
  }

  &__head {
    @media (max-width: 767px) {
      padding: 0 32px;
    }
  }

  &__title {
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
    color: #000000;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-top: 16px;
  }

  &__metro {
    margin-top: 4px;
    display: flex;

    @media (max-width: 575px) {
      display: block;
    }
  }

  &__metro-item {
    display: flex;
    margin-right: 32px;
    align-items: center;

    @media (max-width: 575px) {
      margin-top: 8px;
    }
  }

  &__metro-dot {
    margin-right: 16px;
  }

  &__metro-name {
    margin-right: 16px;
    font-size: 16px;
    line-height: 24px;
    color: $purple;
    border-bottom: 1px dashed $purple;
  }

  &__metro-time {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    opacity: 0.5;
    white-space: nowrap;
  }

  &__map {
    width: 100%;
    margin-top: 24px;
    position: relative;
    overflow: hidden;
  }

  &__map-item {
    position: relative;
    padding-bottom: 70%;
    height: 0;
    overflow: hidden;
    border: 1px solid rgba(242, 160, 27, 0.5);
    border-radius: 5px;

    & iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-width: 0;
      outline-width: 0;
    }

    @media (max-width: 767px) {
      margin: 0 -56px;
    }
  }

  &__menu-button {
    display: block;
    width: 297px;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 24px;
    padding: 8px 24px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    z-index: 40;
    border: 1px solid #fff;
    cursor: pointer;
    transition-duration: 0.3s;
    z-index: 30;

    @media (max-width: 575px) {
      width: 72px;
      text-align: center;
      padding: 3px 24px;
    }

    &:hover {
      border: 1px solid #F0C630;
    }

    &.active {
      & img {
        transform: rotate(0deg);
      }
    }

    & img {
      margin-top: 6px;
      transition-duration: 0.5s;
      transform: rotate(180deg);
    }

    & span {
      margin-left: 15px;

      @media (max-width: 575px) {
      display: none;
      }
    }
  }

  &__menu-body {
    width: 100%;
    height: 100%;
    background: url('../images/content/map_bckg.png');
    position: absolute;
    bottom: -120%;
    left: 0;
    transition-duration: 0.5s;

    &.active {
      bottom: 0;
    }
  }

  &__menu-col {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: $purple;
    width: 375px;
    height: 100%;
  }

  &__menu-boxes {
    margin-top: 50px;
  }

  &__menu-box {
    margin-left: 48px;
    margin-bottom: 15px;

    & span {
      margin-left: 8px;
    }
  }
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
  border-color: rgba(255, 255, 255, 0.2);
  background-color: $purple;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.more {

  &__body {
    margin-top: -56px;

    @media (max-width: 767px) {
      margin-top: -48px;
    }

    @media (max-width: 767px) {
      margin-top: -32px;
    }
  }

  &__title {
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
    color: #000000;
    margin-bottom: 16px;

    @media (max-width: 575px) {
      font-size: 20px;
      line-height: 28px;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -10px;
  }

  &__item {
    width: 25%;
    padding: 0 10px;
    cursor: pointer;

    @media (max-width: 991px) {
      width: 50%;
    }

    @media (max-width: 575px) {
      width: 100%;
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__pic {
    position: relative;
    overflow: hidden;

    &:hover {
      & .more__pic-img {
        transform: scale(1.5);
      }
    }

    & img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__pic-img {
    transition-duration: 0.5s;
  }

  &__bckg {
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__eclipse {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 20;

    &.second {
      position: absolute;
      top: 8px;
      left: 28px;
      // z-index: 20;
    }

    &.hint {
      cursor: pointer;

      &:hover~.more__discount {
        opacity: 0.6;
      }
    }
  }

  &__discount {
    position: absolute;
    top: 8px;
    left: 15px;
    border-radius: 24px;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 4px 12px 4px 30px;
    background: #000000;
    opacity: 0;
    transition-duration: 0.3s;
  }

  &__pic-title {
    position: absolute;
    top: 71%;
    left: 16px;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
  }

  &__pic-subtitle {
    position: absolute;
    top: 82%;
    left: 16px;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
  }

  &__subtitle {
    margin-top: 16px;
    font-size: 20px;
    line-height: 28px;
    transition-duration: 0.3s;
    cursor: pointer;

    &:hover {
      color: $purple;
    }

    @media (max-width: 575px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__district {
    margin-top: 4px;
    line-height: 16px;
  }

  &__metro {
    display: flex;
    align-items: center;
    margin-top: 2px;
  }

  &__metro-dot {
    margin-right: 8px;
    margin-top: 5px;
  }

  &__metro-text {
    margin-right: 7px;
    line-height: 16px;
  }

  &__metro-man {
    margin-right: 7px;
  }
}

.backform {


  &__body {
    background-color: $purple;
  }

  &__title {
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
    margin-bottom: 16px;

    @media (max-width: 767px) {
      font-size: 28px;
      line-height: 36px;
    }

    @media (max-width: 575px) {
      font-size: 20px;
      line-height: 28px;
    }
  }

  &__form {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (max-width: 991px) {
      width: 100%;
    }
  }

  &__input {
    width: 100%;
    border-bottom: 1px solid #F0C630;
    background-color: $purple;
    font-family: Roboto;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.5;
    padding: 16px 0px;
    margin-bottom: 16px;

    & span {
      margin-left: 12px;
    }

    &.half {
      width: 48%;
      padding: 4px 0px 16px;
      margin-bottom: 4px;

      @media (max-width: 575px) {
        width: 100%;
        margin-bottom: 8px;
      }
    }

    &.check {
      border-bottom: 0;
    }
  }

  input::-moz-placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.5;
  }

  input::-webkit-input-placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    opacity: 0.5;
  }

  &__btn {
    padding: 14px 36px;
    background: #FFFFFF;
    opacity: 0.5;
    border-radius: 4px;
    font-size: 20px;
    line-height: 28px;
    color: $purple;
  }
}

.select-css {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.3;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('../images/content/Polygon1.png'), linear-gradient(to bottom, #5F62AC 0%, #5F62AC 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

.select-css::-ms-expand {
  display: none;
}

.select-css:hover {
  // border-color: #888;
}

.select-css:focus {
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: rgb(0, 0, 0);
  outline: none;
}

.select-css option {
  font-weight: normal;
}

*[dir="rtl"] .select-css,
:root:lang(ar) .select-css,
:root:lang(iw) .select-css {
  background-position: left .7em top 50%, 0 0;
  padding: .6em .8em .5em 1.4em;
}

.footer {

  &__body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    width: 25%;

    @media (max-width: 991px) {
      width: 50%;
      margin-bottom: 24px;
    }

    @media (max-width: 575px) {
      width: 100%;
      margin-bottom: 16px;
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;


    &.active {
      & .footer__title-pic {
        transform: rotate(180deg);
      }
    }

    @media (max-width: 991px) {
      max-width: 261px;
    }

    @media (max-width: 575px) {
      max-width: 100%;
    }
  }

  &__title-pic {
    display: none;
    transition-duration: 0.2s;

    @media (max-width: 575px) {
      display: flex;
    }
  }

  &__link-wrap {

    &.active {
      transform: scaleY(1);
      max-height: 1000px;
    }

    @media (max-width: 575px) {
      transform: scaleY(0);
      transform-origin: 0 0;
      max-height: 0;
      transition: 0.3s ease-in-out
    }
  }

  &__link {
    font-size: 16px;
    line-height: 24px;
    opacity: 0.5;
    margin-bottom: 8px;
    cursor: pointer;
    transition: 0.3s linear;

    &:hover {
      color: $purple;
    }

    @media (max-width: 991px) {
      max-width: 261px;
    }
  }
}